.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.app__content {
    max-width: 90%;
}

@media screen and (max-width: 800px) {
    .app__content {
        max-width: 100%;
    }
}

.flex--center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projects__fadein {
    width: 90%;

    margin-top: 20px;
}
