.App {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.AppContent {
    width: 90%;
}

.FlexCenter {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}