.header {
    background-color: var(--secondary-bg-color);

    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.header__content {
    height: 80%;
    width: 96%;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
}

.header__content__main {
    height: 100%;
    width: 15%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.header__item {
    height: 60%;
}

.header__item > img{
    height: 100%;
}

.header__link {
    font-size: 200%;
    margin-right: 12px;
    text-decoration: none;
}

.header__link:link {
    color: var(--main-title-color);
}

.header__link:visited {
    color: var(--main-title-color);
}

.header__link:hover {
    color: var(--secondary-title-color);
}

.header__link:active {
    color: var(--main-title-color);
}
