.Head {
    height: 60px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: #ff444e;
    background-color: #282d54;
}

.HeaderContent {
    height: 80%;
    width: 96%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

.Header-link {
    font-size: 200%;
    text-decoration: none;
}

.Header-link:link {
    color: #a64942;
}

.Header-link:visited {
    color: #e7554a;
}

.Header-link:hover {
    color: #ffffff;
}

.Header-link:active {
    color: #51c649;
}
