.Projects {
    margin-top: 20px;
    width: 90%;
}

.Project {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.Project-name {
    color: var(--main-title-color);
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.Project-description {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--main-text-color);
}

.Project-progress {
    color: var(--main-text-color);
    margin-top: 5px;
    margin-bottom: 0;
}

.Project-link {
    text-decoration: none;
}

.Project-link:link {
    color: var(--secondary-title-color);
}

.Project-link:visited {
    color: var(--secondary-title-color);
}

.Project-link:hover {
    color: var(--main-title-color);
}

.Project-link:active {
    color: var(--secondary-title-color);
}
