.project {
    min-height: 120px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid var(--tertiary-bg-color);
    border-radius: 1px;
}

.project__name {
    color: var(--tertiary-text-color);

    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.project__description {
    color: var(--secondary-text-color);

    max-width: 92%;

    margin-top: 5px;
    margin-bottom: 10px;
}

.project__progress {
    color: var(--tertiary-text-color);

    margin-top: 5px;
    margin-bottom: 0;
}

.project__links {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.project__link {
    text-decoration: none;
}

.project__link:link {
    color: var(--tertiary-text-color);
}

.project__link:visited {
    color: var(--tertiary-text-color);
}

.project__link:hover {
    color: var(--tertiary-bg-color);
}

.project__link:active {
    color: var(--tertiary-text-color);
}
