.Projects {
    width: 90%;

    margin-top: 20px;
}

.Project {
    min-height: 120px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid var(--secondary-title-color);
    border-radius: 1px;
}

.Project-name {
    color: var(--main-title-color);

    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.Project-description {
    color: var(--main-text-color);

    max-width: 92%;

    margin-top: 5px;
    margin-bottom: 10px;
}

.Project-progress {
    color: var(--main-text-color);

    margin-top: 5px;
    margin-bottom: 0;
}

.Project-links {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.Project-link {
    text-decoration: none;
}

.Project-link:link {
    color: var(--secondary-title-color);
}

.Project-link:visited {
    color: var(--secondary-title-color);
}

.Project-link:hover {
    color: var(--main-title-color);
}

.Project-link:active {
    color: var(--secondary-title-color);
}
