/*
  #1b1f3a
  #53354a
  #a64942
  #ff7844
 */

.App {
  height: 100vh;
  width: 100vw;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Head {
  height: 10%;
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  font-size: 50px;
  color: #ff444e;
  margin-bottom: 50px;
}

.Projects {
  height: 90%;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Project {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 50px;
}

.Project-name {
  color: #ff5944;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.Project-description {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ff7844;
}


.Project-link {
  text-decoration: none;
}

.Project-link:link {
  color: #a64942;
}

.Project-link:visited {
  color: #a64942;
}

.Project-link:hover {
  color: #53354a;
}

.Project-link:active {
  color: #ff5944;
}

.Header-link {
  text-decoration: none;
}

.Header-link:link {
  color: #a64942;
}

.Header-link:visited {
  color: #e7554a;
}

.Header-link:hover {
  color: #ffffff;
}

.Header-link:active {
  color: #51c649;
}