* {
  font-family: 'Play', sans-serif;
}

:root {
  --main-bg-color: #0A0908;
  --main-text-color: #F2F4F3;
  --main-title-color: #49111C;
  --secondary-bg-color: #A9927D;
  --secondary-title-color: #5E503F;
}

body {
  background-color: var(--main-bg-color);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/*
    Scrollbar
*/
@supports (-moz-appearance:none) {
  :root { scrollbar-color: #2E282A #FFC914; }
}

::-webkit-scrollbar {
  background: #FFC914;
}

::-webkit-scrollbar-button{
  background: #2E282A;
}

::-webkit-scrollbar-thumb{
  background: #2E282A;
}

::-webkit-scrollbar-corner{
  background: #2E282A;
}